<div>
    <div style=style="font-size: 14px;
    color: #fff;
    font-weight: 400;
    border-radius: 15px 15px 15px 0;
    padding: 10px 12px;
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: 0px;
    box-shadow: none;
    background-color: #6c82ff; max-width: 250px; box-sizing: border-box;">
        I could not understand you! Did you mean any
        of the suggestions below? Or else please
        rephrase your question.
    </div>
    <div style="display: flex; flex-direction: column;">
    ALL_BUTTONS
    </div>
</div>
