stages:
  - test
  - build
  - cleanup

before_script:
  - echo "Stage Started for " $CI_COMMIT_REF_NAME
  - export PATH=$PATH:/usr/local/bin

test:
  tags:
    - dspg_dev
  stage: test
  script:
    - python3.6 -m pip install -r requirements.txt
    - python3.6 -m pytest --html=report.html --cov=kairon tests/ --cov-report html:coverage_html

build:
  tags:
    - kairon
  only:
    - master
  stage: build
  script:
    -  docker build -f ./docker/Dockerfile_api -t kairon-api:latest .
    -  docker build -f ./docker/Dockerfile_task -t kairon-task:latest .
    -  docker build -f ./docker/Dockerfile_paraphrase -t kairon-paraphrase:latest .
    -  docker build -f ./docker/Dockerfile_question_generation -t kairon-question-generation:latest .