# IDE
.idea
.vscode

# Python
__pycache__
.pytest_cache

# Tests
assets
cov_html
sample
/*.coverage
*.html
coverage_html

# Logs
*.log
/models/
/enable_gpt.py
/deepgram_listen.py
/testing_data/
/training_data/
/.rasa/
/enable_gpt_uat.py
