stages:
  - test
  - build
  - cleanup

before_script:
  - echo "Stage Started for " $CI_COMMIT_REF_NAME
  - export PATH=$PATH:/usr/local/bin

test:
  tags:
    - dspg_dev
  stage: test
  script:
    - python3.7 -m pip install pip==20.2.4
    - python3.7 -m pip install -r requirements.txt
    - python3.7 -m pip install git+https://github.com/sfahad1414/question_generation.git
    - python3.7 -m pytest tests --html=report.html --cov=kairon --cov-report html:coverage_html --ignore tests/load_test/

build-dev:
  tags:
    - kairon
  only:
    - master
  stage: build-dev
  script:
    -  docker build -f ./docker/Dockerfile_api -t kairon-api-dev:latest .
    -  docker build -f ./docker/Dockerfile_task -t kairon-task-dev:latest .
    -  docker build -f ./docker/Dockerfile_paraphrase -t kairon-paraphrase-dev:latest .
    -  docker build -f ./docker/Dockerfile_question_generation -t kairon-question-generation-dev:latest .
    -  docker build -f ./docker/Dockerfile_action_server -t kairon-action-server-dev:latest .
    -  docker build -f ./docker/Dockerfile_task_training_data_generator -t kairon-task-data-gen-dev:latest .
    -  docker build -f ./docker/Dockerfile_task_data_importer -t kairon-data-importer-dev:latest .

build-release:
  tags:
    - kairon
  only:
    - release
  stage: build-release
  script:
    -  docker build -f ./docker/Dockerfile_api -t kairon-api:latest .
    -  docker build -f ./docker/Dockerfile_task -t kairon-task:latest .
    -  docker build -f ./docker/Dockerfile_paraphrase -t kairon-paraphrase:latest .
    -  docker build -f ./docker/Dockerfile_question_generation -t kairon-question-generation:latest .
    -  docker build -f ./docker/Dockerfile_action_server -t kairon-action-server:latest .
    -  docker build -f ./docker/Dockerfile_task_training_data_generator -t kairon-task-data-gen:latest .
    -  docker build -f ./docker/Dockerfile_task_data_importer -t kairon-data-importer:latest .
