pyyaml
torch
torchvision
tensorflow
rasa==1.9.5
gensim
sentence_transformers
fastapi==0.54.1
spacy
mongomock
pytest
pytest-html
pytest-cov
pytest-xdist
pytest-asyncio
requests-mock
pandas
mongoengine==0.19.1
pyjwt
passlib[bcrypt]
python-multipart
validate_email
py3dns
black
uvicorn