rasa==3.6.8
mongoengine==0.27.0
fastapi==0.103.0
uvicorn
smart-config
fastapi_sso
fastapi-keycloak
validators
secure
password-strength
elastic-apm
bs4
uuid6
passlib[bcrypt]
openai
openapi_spec_validator
tornado
json2html
google-api-python-client
jira
pipedrive-python-lib
zenpy
google-cloud-translate
blinker
PyMuPDF
python-docx
python-multipart
pandas
openpyxl
sentencepiece
responses
dramatiq
dramatiq-mongodb
nlpaug
keybert
pyTelegramBotAPI
APScheduler
croniter
faiss-cpu
tiktoken
RestrictedPython
AccessControl
pykka
timeout-decorator
googlesearch-python
pytest
pytest_httpx
pytest-asyncio
mock
moto
mongomock
black
locust
deepdiff
pytest-cov
pytest-html
