pyyaml
torch
tensorflow-text==2.1.1
tensorflow-addons==0.9.1
rasa==1.10.3
rasa[transformers]==1.10.3
rasa[spacy]==1.10.3
rasa[convert]==1.10.3
fastapi==0.56.1
spacy
mongomock
pytest
pytest-html
pytest-cov
pytest-xdist
pytest-asyncio
responses
pandas
mongoengine==0.20.0
pyjwt
passlib[bcrypt]
python-multipart
py3dns
black
uvicorn
validators
secure
password-strength
nlpaug
loguru
