version: "2"
services:
  mongo:
    image: mongo
    networks:
      - chatbotnetwork
    container_name: mongo
    hostname: mongo
    ports:
      - "27017:27017"
    volumes:
      - ./mongo_data:/data/db

  kairon-paraphrase:
    image: digite/kairon-paraphrase:latest
    networks:
      - chatbotnetwork
    container_name: kairon-paraphrase
    hostname: kairon-paraphrase
    ports:
      - 8001:8000
    volumes:
      - ./paraphrase_tmp:/root/.cache/

  kairon-question-generation:
    image: digite/kairon-question-generation:latest
    networks:
      - chatbotnetwork
    container_name: kairon-question-generation
    hostname: kairon-question-generation
    ports:
      - 8002:8000
    volumes:
      - ./question_generation_tmp:/root/.cache/

  kairon-api:
    image: digite/kairon-api:latest
    networks:
      - chatbotnetwork
    container_name: kairon-api
    hostname: kairon-api
    depends_on:
      - mongo
      - kairon-question-generation
      - kairon-paraphrase
    ports:
      - 81:80
    volumes:
      - ./models:/app/models
      - ./api_tmp:/root/.cache/
    environment:
      DATABASE_URL: "mongodb://mongo:27017/kairon"
      SECRET_KEY: "b9d01861392757c66daaf1f214268e2739a5baac935071d06e2ea71a66dc5bcd"
      PARAPHRASE_URL: "http://kairon-paraphrase:8001/paraphrases"
      QUESTION_GENERATION_URL: "http://kairon-question-generation:8002/questions"
      TEST_DB: "kairon_conversations"

  kairon-ui:
    image: digite/kairon-ui:latest
    networks:
      - chatbotnetwork
    container_name: kairon-ui
    hostname: kairon-ui
    depends_on:
      - kairon-api
    ports:
      - 80:8080
    environment:
      server: "http://localhost:81"
## if you want to use google analytics then uncomment trackingid
## and set you google analytics code
#      trackingid: ""

  duckling:
    image: rasa/duckling
    networks:
      - chatbotnetwork
    container_name: duckling
    hostname: duckling
    ports:
      - 8000:8000

networks:
  chatbotnetwork: