version: "2"
services:
  mongo:
    image: mongo
    networks:
      - chatbotnetwork
    container_name: mongo
    hostname: mongo
    ports:
      - "27017:27017"
    volumes:
      - ./mongo_data:/data/db

  kairon-paraphrase:
    image: digite/kairon-paraphrase:latest
    networks:
      - chatbotnetwork
    container_name: kairon-paraphrase
    hostname: kairon-paraphrase
    ports:
      - 8001:8000
    volumes:
      - ./transformer_cache:/root/.cache/

  kairon-question-generation:
    image: digite/kairon-qg:latest
    networks:
      - chatbotnetwork
    container_name: kairon-question-generation
    hostname: kairon-question-generation
    ports:
      - 8002:8000
    volumes:
      - ./transformer_cache:/root/.cache/

  kairon-api:
    image: digite/kairon-api:latest
    networks:
      - chatbotnetwork
    container_name: kairon-api
    hostname: kairon-api
    depends_on:
      - mongo
      - kairon-question-generation
      - kairon-paraphrase
    ports:
      - 81:80
    volumes:
      - ./models:/app/models
      - ./transformer_cache:/root/.cache/
    environment:
      DATABASE_URL: "mongodb://mongo:27017/kairon"
      SECRET_KEY: "b9d01861392757c66daaf1f214268e2739a5baac935071d06e2ea71a66dc5bcd"
      PARAPHRASE_URL: "http://kairon-paraphrase:8001/paraphrases"
      QUESTION_GENERATION_URL: "http://kairon-question-generation:8002/questions"
      TEST_DB: "kairon_conversations"
      ACTION_SERVER_URL: "http://kairon-action-server:5055/webhook"
      AGENT_URL: "http://kairon-chat:5000/"
      KAIRON_HISTORY_SERVER_URL: "http://kairon-history-server:8083/"
      KAIRON_HISTORY_SERVER_TOKEN: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtleSI6ImI5ZDAxODYxMzkyNzU3YzY2ZGFhZjFmMjE0MjY4ZTI3MzlhNWJhYWM5MzUwNzFkMDZlMmVhNzFhNjZkYzViY2QifQ.eyJzdWIiOiJrYWlyb24uZGlnaXRlLmNvbSIsIm5hbWUiOiJrYWlyb24iLCJpYXQiOjE1MTYyMzkwMjJ9.3SOONqzoeX1tnMnUH5BVaOtZ7mElgwxyD1xpPvTQTrs"
      EVENT_SERVER_ENDPOINT: "http://kairon-event-server:5056"


  kairon-ui:
    image: digite/kairon-ui:latest
    networks:
      - chatbotnetwork
    container_name: kairon-ui
    hostname: kairon-ui
    depends_on:
      - kairon-api
    ports:
      - 80:8080
    environment:
      server: "http://localhost:81"
      isAPMEnabled: "false"
      isGAEnabled: "false"
      isRecaptchaEnabled: "false"
      isMultilingualEnabled: "false"
      chatServer: "http://0.0.0.0:5000/" #replace with the public ip of chat server
      ui: "http://0.0.0.0" #replace with the public ip of UI server
  ## if you want to use google analytics then uncomment trackingid
  ## and set you google analytics code
  #      trackingid: ""

  duckling:
    image: rasa/duckling
    networks:
      - chatbotnetwork
    container_name: duckling
    hostname: duckling
    ports:
      - 7999:8000

  kairon-action-server:
    image: digite/kairon-action-server:latest
    container_name: kairon-action-server
    hostname: kairon-action-server
    ports:
      - 5055:5055
    environment:
      DATABASE_URL: "mongodb://mongo:27017/kairon"
    networks:
      - chatbotnetwork

  kairon-history-server:
    image: digite/kairon-history-server:latest
    container_name: kairon-history-server
    hostname: kairon-history-server
    ports:
      - 8083:8083
    environment:
      TRACKER_TYPE: 'bot'
      TRACKER_URL: "mongodb://mongo:27017/test_conversations"
      TRACKER_COLLECTION: "conversations"
      AUTH_TOKEN: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtleSI6ImI5ZDAxODYxMzkyNzU3YzY2ZGFhZjFmMjE0MjY4ZTI3MzlhNWJhYWM5MzUwNzFkMDZlMmVhNzFhNjZkYzViY2QifQ.eyJzdWIiOiJrYWlyb24uZGlnaXRlLmNvbSIsIm5hbWUiOiJrYWlyb24iLCJpYXQiOjE1MTYyMzkwMjJ9.3SOONqzoeX1tnMnUH5BVaOtZ7mElgwxyD1xpPvTQTrs"
    networks:
      - chatbotnetwork

  kairon-chat:
    image: digite/kairon-chat:latest
    container_name: kairon-chat
    hostname: kairon-chat
    ports:
      - 5000:5000
    networks:
      - chatbotnetwork
    volumes:
      - ./models:/app/models
      - ./transformer_cache:/root/.cache/
    environment:
      DATABASE_URL: "mongodb://mongo:27017/kairon"
      SECRET_KEY: "b9d01861392757c66daaf1f214268e2739a5baac935071d06e2ea71a66dc5bcd"
      TEST_DB: "test_conversations"
      KAIRON_HISTORY_SERVER_URL: "http://kairon-history-server:5000/"

  kairon-event-server:
    image: digite/kairon-event-server:latest
    container_name: kairon-event-server
    hostname: kairon-event-server
    ports:
      - 5056:5056
    networks:
      - chatbotnetwork
    environment:
      EVENTS_EXECUTOR_TYPE: "dramatiq"
      EVENTS_QUEUE_URL: "mongodb://mongo:27017/kairon-events"
      DATABASE_URL: "mongodb://mongo:27017/kairon"
      TEST_DB: "kairon_conversations"

  kairon-worker:
    image: digite/kairon-worker:latest
    container_name: kairon-worker
    hostname: kairon-worker
    networks:
      - chatbotnetwork
    environment:
      AGENT_URL: "http://kairon-chat:5000/"
      EVENTS_QUEUE_URL: "mongodb://mongo:27017/kairon-events"
      DATABASE_URL: "mongodb://mongo:27017/kairon"
      TEST_DB: "kairon_conversations"
    volumes:
      - ./models:/app/models
      - ./data_generator:/app/data_generator
      - ./training_data:/app/training_data
      - ./testing_data:/app/testing_data
      - ./transformer_cache:/root/.cache/

networks:
  chatbotnetwork:
