# This workflow will scan the created docker images at scheduled time and create issue if vulnerability is found
name: Vulnerability Scan

on:
  schedule:
    - cron: '21 11 * * *'

jobs:
  scan:
    name: Daily Vulnerability Scan
    runs-on: ubuntu-18.04
    steps:
      - name: Pull docker images
        run: |
          docker pull digite/kairon-augment
          docker pull digite/kairon-api
      - uses: homoluctus/gitrivy@v1.0.0
        name: Scanning augment image
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          image: digite/kairon-augment
      - uses: homoluctus/gitrivy@v1.0.0
        name: Scanning api image
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          image: digite/kairon-api
